*{
    padding: 0%;
    margin: 0%;
    background-color: #644e4e;
    
}
.main{
    width: 400px;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    rotate(0deg);
    background-image: linear-gradient(to right, white 50%,black 50%);
    border-radius: 50%;
    border: 5px solid black;
    animation: main  infinite ;
    animation-duration: 3000ms ;
    /* animation-direction: alternat; */
    /* animation-delay: ms; */
    animation-timing-function: linear;
    box-shadow: 10px 10px 30px 20px rgb(140, 58, 58)
   
}
.circle{
    width: 200px;
    aspect-ratio: 1;
    /* background-color: red; */
    border-radius: 50%;
    position: absolute;
    /* top: 0%; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    top: 0%;
    background-color: white;
}
.bottom{
    bottom: 0%;
    background-color: black;
}
.inner-circle{
    width: 60px;
    aspect-ratio: 1;
    /* background-color: blueviolet; */
    border-radius: 50%;
}

.small-top{
    background-color: black;
}
.small-bottom{
    background-color: white;
}
@keyframes main{
    from{
        transform: translate()
    rotate(360deg);
    
    
    filter: hue-rotate(0deg);
   
   
   
    
    

    }
    25%{
        transform: translate()
        rotate(0deg);
        left: 50%;
        top: 0%;
       
        
        filter: hue-rotate(90deg);
       
    }
    50%{
        transform: translate()
        rotate(0deg);
        left: 50%;
        top: 50%;
       
        
        filter: hue-rotate(180deg);
       
    }

    to{
        transform: translate()
    rotate(360deg);
    filter: hue-rotate(360deg);
    left: 50%;
    bottom: 0;
    

    }
}